# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific
day0/hello_world_cpp
day0/hello_world_rust
day3/target
day4/target
day5/target 

# Binaries
rs
cpp

# VS Code settings
.vscode/settings.json
